# App
PORT=3000

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=your_name_db
DB_PORT=3306

# DESCRIPCION DE LA API
API_VERSION=v1
API_NAME=api

# API Keys
API_KEY=your_api_key_here

#TOKEN
JWT_SECRET="ultra-secret"
JWT_EXPIRES_IN=7h
JWT_COOKIE_EXPIR_IN=7h

# SALTO PARA EL HASH DEL PASSWORD
SALT=10

#urls to cors
ALLOWED_ORIGINS="http://localhost:5173"

# Session Secret
SESSION_SECRET=tu_session_secret

# Environment
NODE_ENV=development  # Use 'development' for local development, 'production' for live environment

# Enable/Disable TLS Verification
# Set to '0' to disable TLS verification (for development with self-signed certificates)
# Set to '1' to enable TLS verification (for production with valid certificates)
NODE_TLS_REJECT_UNAUTHORIZED=0
